# Configuration file
MongoDB:
    cluster: ai-text-game-cluster
    connection_string: mongodb+srv://<username>:<password>@<cluster>.vuj2plc.mongodb.net/?retryWrites=true&w=majority&appName=<cluster>
    database: ai-text-game-db
    collection: ai-text-game-collection
logging:
    level: DEBUG
    filestream_logging: False
    filepath: logs/ai-text-game.log
openai:
    model: gpt-3.5-turbo
    temperature: 0.2
huggingface:
    summarizer: True
    summarizer_model: facebook/bart-large-cnn
stability:
    host: grpc.stability.ai:443
    model: stable-diffusion-512-v2-1  # (stable-diffusion, stable-diffusion-512-v2-1, or stable-diffusion-768-v2-1)
    seed: 4253978046
    width: 512
    height: 512